#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.box {
  opacity: 0;
  transition: opacity 0.5s ease;
  color: black;
  padding-top: 3px;
}
.box.show {
  opacity: 1;
}
@keyframes slideIn {
  from { transform: translateX(-100%); }
  to { transform: translateX(0); }
}

.slide {
  animation: slideIn 0.5s ease forwards;
}